// needs fragmentation

/* common styling */


body {
	@media only screen and (max-width: $large) {
		min-width: 320px;
		width: auto;
	}

	@media only screen and (max-width: $small) {
		min-width: 240px;
		width: auto;
	}
}


* {
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}

/* classes */

.hidden {
    display:none !important;
}


@mixin clearfix {
  &:after {
    content: " ";
    display:block;
    clear:both;
  }
}


@mixin text-access {
	text-indent: 200%;
	overflow: hidden;
	white-space: nowrap;
}

.text-access {
	@include text-access
}

.f-left {
	float: left !important;
}

.f-right {
	float: right !important;
}

.space {
	margin-bottom: 1em;
}


/* mixins */

@mixin border-box {
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;

}


//universal background mixin

@mixin icon-sprite($is-bposition: 0 0, $icon-sprite:'pc.png') {
	background: transparent;
	background-image: url($icon-sprite);
	background-repeat: no-repeat;
	background-position: $is-bposition;
}



//navigation - nav parent module - can be extended

.nav {

	.nav--list {
		padding: 0;
		list-style: none;
	}

	.nav--item {
		
	}

	.nav--link {
		display:block;
		text-decoration:none;

		&:hover {
			text-decoration:underline;
		}
	}


	&.horizontal {
		.nav--item {float:left}
	}

}


//media object

.media {
	margin: 10px;
	overflow: hidden;

	//making sure image will fit - hopefully
	.media--content {
		width: 100%;
		height: auto;
	}

}


//captioned image

.captioned {
	@include clearfix;
	float:left;
	margin: 0 10px 10px 0;

	//f-right class can be used to position image the right

	.captioned--image,
	.captioned--text {
		// float: left;
		// clear: both;
	}

	.captioned--text {
		text-align: center;
		display: block;
		font-size: .9em;
	}


}



// content toggle - css-based navigation 

//if applied to HTML, first .content-cell must be the last-of-type in order for css to work correctly

.content-cell {
	display:none;
}

.content-cell[id]:target {
	display:block;
}

.content-cell:not(:target) ~ .content-cell:last-of-type {
	display:block;
}

.content-cell:target ~ .content-cell:last-of-type {
	display:none;
}




// generic spacing helpers 	

@for $i from 0 through 2 {
	// 15px should be substituted for common vertical rythm
	$calculated: $i * 15;

	.p-top-#{$i} {
		padding-top: #{$i * 15}px !important;
	}

	.p-bottom-#{$i} {
		padding-bottom: #{$calculated}px !important;
	}

	.m-top-#{$i} {
		margin-top: #{$calculated}px !important;
	}

	.m-bottom-#{$i} {
		margin-bottom: #{$calculated}px !important;
	}

	// redefining temp variable since we need different jumps in vw units
	$calculated: $i * 1.25 * $i;

	.p-top-r#{$i} {
		padding-top: #{$calculated}vw !important;
	}

	.p-bottom-r#{$i} {
		padding-bottom: #{$calculated}vw !important;
	}

	.m-top-r#{$i} {
		margin-top: #{$calculated}vw !important;
	}

	.m-bottom-r#{$i} {
		margin-bottom: #{$calculated}vw !important;
	}
}


