/* if this grows, it will need to be split */

.hidden {
    display:none !important;
}

.text-access {
	@include text-access
}

.f-left {
	float: left !important;
}

.f-right {
	float: right !important;
}

.fw {
	width: 100% !important;
}