// generic spacing helpers 	

@for $i from 0 through 2 {
	// 15px should be substituted for common vertical rythm
	$calculated: $i * 15;

	.p-top-#{$i} {
		padding-top: #{$i * 15}px !important;
	}

	.p-bottom-#{$i} {
		padding-bottom: #{$calculated}px !important;
	}

	.m-top-#{$i} {
		margin-top: #{$calculated}px !important;
	}

	.m-bottom-#{$i} {
		margin-bottom: #{$calculated}px !important;
	}

	// making sure we won't generate multiple 0 padding classes
	@if $i > 0 {
	    // em version
		// redefining temp variable since we need different jumps in vw units
		$calculated: $i + 0.5;
		.p-top-e#{$i} {
			padding-top: #{$calculated}em !important;
		}

		.p-bottom-e#{$i} {
			padding-bottom: #{$calculated}em !important;
		}

		.m-top-e#{$i} {
			margin-top: #{$calculated}em !important;
		}

		.m-bottom-e#{$i} {
			margin-bottom: #{$calculated}em !important;
		}

		// redefining temp variable since we need different jumps in vw units
		$calculated: $i * 1.25 * $i;

		.p-top-r#{$i} {
			padding-top: #{$calculated}vw !important;
		}

		.p-bottom-r#{$i} {
			padding-bottom: #{$calculated}vw !important;
		}

		.m-top-r#{$i} {
			margin-top: #{$calculated}vw !important;
		}

		.m-bottom-r#{$i} {
			margin-bottom: #{$calculated}vw !important;
		}
	}
}

.m-1 {
	margin: 10px;
}

.p-1 {
	padding: 10px;
}