// content toggle - css-based navigation 

//if applied to HTML, first .content-cell must be the last-of-type in order for css to work correctly

.content-cell {
	display:none;
}

.content-cell[id]:target {
	display:block;
}

.content-cell:not(:target) ~ .content-cell:last-of-type {
	display:block;
}

.content-cell:target ~ .content-cell:last-of-type {
	display:none;
}
