// form	elements
// needs fragmentation


.fe {
	padding: $input-spacing;
	font-size: 1rem;
	border: 0;
	color: #333;
	background-color: #e8e8e8;
	transition: all $transition-duration;

	&:hover {
		border-color: rgba(32,32,32,.8);
	}	

	&:focus {
		color: #555;
	}

	&.fe--err {
		color: #af1b00;
		border-color: currentColor;
    	background-color: #ffe8e8;
	}

	&.disabled, &[disabled] {
		color: #c1c1c1;
		background-color: #f3f3f3;
	}
}

.fe-select {
	position: relative;
	display: inline-block;
	background-color: #fff;

	&:after {
		content: "\25bc";
		height: 10px;
		width: 10px;
		right: 9px;
		top: 11px;
		font-size: .75rem;
		position: absolute;
		pointer-events: none;
		color: #999;
		transition: all $transition-duration;
	}

	&:hover::after {
		color: #333;
	}

	select.fe {
		-webkit-appearance: none;
		border-radius: 0;
		padding-right: 25px;
	}
}

.fe-btn {
	padding: $rectangle-spacing;
	font-size: 1rem;
	border: 0px;
	min-width: 50px;
	text-align: center;
	color: #fff;
	background-color: rgba(32,32,32,1);
	transition: background-color $transition-duration;

	&.fe--anch {
		display: inline-block;
		text-decoration: none;
	}


	&:hover {
		background-color: rgba(32,32,32,.8);
		text-decoration: none;
	}

	&.disabled, &[disabled] {
		cursor: default;
		color: #a7a7a7;

		&:hover {
			background-color: rgba(32,32,32,1);
		}
	} 
}



.fe-chrd {

	input[type="checkbox"],
    input[type="radio"] {
		opacity: 0;
		height: 0;
		width: 0;
		margin: 0;
	}

	label {
		position: relative;
		padding-left: 30px;
		display: inline-block;
		line-height: 1.6em;
	}

	label:after,
	label:before {
		content: "";
		position: absolute;
		transition: all $transition-duration;
	}

	label:before {
		top: 4px;
		left: 6px;
		height: 16px;
    	width: 16px;
		background-color: #e8e8e8;
	}

	label:after {
		top: 8px;
		left: 10px;
		height: 8px;
		width: 8px;
	}

	label:hover::after {
		background-color: #999;
	}
	
	input[type="radio"] {
		+ label {
			&:after,
			&:before {
				border-radius: 50%;
			}
		}
	}

	input[type="checkbox"],
	input[type="radio"] {
		&:checked + label:after {
			background-color: #333;
		}
	}
}

