// form	elements
// needs fragmentation

@mixin common-form-style {
	padding: 5px;
	font-size: 1rem;
}

.fe {
	@include common-form-style;
	border: 1px solid rgba(32,32,32,.5);
	color: #888;
	background: #fff;
	transition: all $transition-duration;

	&:hover {
		border-color: rgba(32,32,32,.8);
	}	

	&:focus {
		color: #555;
	}

	@at-root select#{&} {
		// TODO finish select style
		//-webkit-appearance: none;
	}

}

.fe-btn {
	@include common-form-style;
	border: 0px;
	min-width: 50px;
	text-align: center;
	color: #fff;
		
	background-color: rgba(32,32,32,1);
	transition: background-color $transition-duration;

	&.fe--anch {
		display: inline-block;
		text-decoration: none;
		cursor: default;
	}


	&:hover {
		background-color: rgba(32,32,32,.8);
		text-decoration: none;
	}

	&.disabled, &[disabled] {
		cursor: default;
		color: #888;

		&:hover {
			background-color: #ddd;
		}
	} 
}



.fe-chrd {

	input[type="checkbox"],
    input[type="radio"] {
		opacity: 0;
		height: 0;
		width: 0;
		margin: 0;
	}

	label {
		position: relative;
		padding-left: 30px;
		display: inline-block;
		line-height: 1.5em;
	}

	label:after,
	label:before {
		content: "";
		position: absolute;
		transition: all $transition-duration;
	}

	label:after {
		top: 4px;
		left: 6px;
		height: 14px;
		width: 14px;
		border: 1px solid rgba(32,32,32,.5);
	}

	label:hover::after {
		border: 1px solid rgba(32,32,32,.8);
	}

	label:before {
		top: 8px;
		left: 10px;
		height: 8px;
		width: 8px;
	}
	
	input[type="radio"] {
		+ label {
			&:after,
			&:before {
				border-radius: 50%;
			}
		}
	}

	input[type="checkbox"],
	input[type="radio"] {
		&:checked + label:before {
			background-color: #333;
		}
	}
}

