// form	elements
// needs fragmentation

@mixin common-form-style {
	padding: 5px;
	font-size: 1rem;
}

.fe {
	@include common-form-style;
	border: 1px solid rgba(32,32,32,.5);
	color: #888;
	background: #fff;
	transition: all $transition-duration;

	&:hover {
		border-color: rgba(32,32,32,.8);
	}	

	&:focus {
		color: #555;
	}

	@at-root select#{&} {
		// TODO finish select style
		//-webkit-appearance: none;
	}

}

.fe-btn {
	@include common-form-style;
	border: 0px;
	min-width: 50px;
	text-align: center;
	color: #222;
		
	background-color: #ddd;
	transition: background-color $transition-duration;

	&.fe--anch {
		display: inline-block;
		text-decoration: none;
		cursor: default;
	}


	&:hover {
		background-color: #eee;
		text-decoration: none;
	}

	&.disabled, &[disabled] {
		cursor: default;
		color: #888;

		&:hover {
			background-color: #ddd;
		}
	} 
}



.nice {






	//radio button style

	&-radio {
		width: 24px;
		height: 24px;
		float:left;
		margin: 2px;
		padding: 2px;
		position: relative;
		border-radius: 24px;

		input[type=radio] {
			visibility: hidden;

			&:checked + label:after {
				background: #000;
			}
		}

		label {
			cursor: pointer;
			position: absolute;
			width: 20px;
			height: 20px;
			left: 2px;
			top: 2px;
			@include text-access;
			text-indent: 125%;

			&:after {
				content: '';
				position: absolute;
				width: 16px;
				height: 16px;
				border-radius: 16px;
				background: transparent;
				top: 1px;
				left: 1px;
			}

		}

	}

	//checkbox style
	&-checkbox  {
		width: 25px;
		height: 25px;
		float:left;
		margin: 2px;
		padding: 2px;
		position: relative;


		input[type=checkbox] {
			visibility: hidden;

			&:checked + label:after {
				opacity: 1;
			}
		}

		
		label {
			cursor: pointer;
			position: absolute;
			width: 20px;
			height: 20px;
			left: 2px;
			top: 2px;
			@include text-access;

			&:after {
				opacity: 0;
				content: '';
				position: absolute;
				width: 13px;
				height: 5px;
				background: transparent;
				top: 4px;
				left: 2px;
				border: 3px solid #000;
				border-top: none;
				border-right: none;
				transform: rotate(-45deg);

			}

		}
	}

}




