//navigation - nav parent module - can be extended


.list {
    /*root block*/
}

    .list--horizontal {
        margin: 0;
        padding: 0;
        list-style: none;
    }

        .list--horizontal > li {
            display: inline-block;
            padding-right: 10px;
        }

        .list--right-aligned > li {
            padding-right: 0;
            padding-left: 10px;
        }
