//navigation - nav parent module - can be extended

.nav {

	.nav--list {
		padding: 0;
		list-style: none;
	}

	.nav--item {
		
	}

	.nav--link {
		display:block;
		text-decoration:none;

		&:hover {
			text-decoration:underline;
		}
	}


	&.horizontal {
		.nav--item {float:left}
	}

}
