/* overlay background dim mixin */

.overlay-dim {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: #000000;
	filter: alpha(opacity=50);
	opacity: 0.5;
}

.overlay-content {
	height: auto;
	left: 0px;
	position: fixed;
	top: 10%;
	width: 100%;
	text-align: center;
	z-index: 9999;
}

.overlay-content-w {
	position: relative;
	width: 90%;
	background-color: white;
	margin: 0 auto;

	&.overlay-content-w--half {
		width: 50%;
	}

	.close {
		position: absolute;
		width: 20px;
		height: 20px;
		right: -10px;
		top: -10px;
		text-decoration: none;
		text-align: center;
		line-height: 20px;
		font-size: 14px;
		font-weight: bold;
		color: white;
		background-color: #000;
		border: 2px solid #fff;
		box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
		border-radius: 20px;
		font-weight: bold;
		@media only screen and (max-width: $medium) {
			right: 0px;
			top: 0px;
		}
	}

	&:after {
		content: " ";
		display: block;
		clear: both;
	}
}