//pager for listings



.pager {
	text-align: center;
	padding: 0;

	> li {
		display: inline-block;

		> a {
			display: inline-block;
			padding: $rectangle-spacing;
			text-decoration: none;
			color: #fff;
			background-color: rgba(32,32,32,1);
			transition: background-color $transition-duration;

			&:hover {
				background-color: rgba(32,32,32,.8);
			}		
		}
	}
}

