//tables

table {
	width: 100%;
	text-align: left;
	border-collapse: collapse;

	th,
	td {
		padding: 4px;
		border-bottom: 1px solid rgba(198, 198, 198, 0.50);
	}

	tbody tr:nth-child(even) td {
		background-color: #fafafa;
	}
}