//tables

table {
	width: 100%;
	text-align: left;
	border-collapse: collapse;

	thead,
	tbody,
	tfoot {
		> tr {
			> th {
				padding: 6px 4px;
				border: 1px solid rgba(32,32,32,.5);
			}
			> td {
				padding: 4px;
				border: 1px solid rgba(32,32,32,.5);
			}
		}
	}

	tbody > tr:nth-child(even) > td {
		background-color: #f9f9f9;
	}

	thead,
	tfoot {
		> tr {
			> td,
			> th {
				background-color: rgba(32,32,32,1);
				color: #eee;
			}
		}
	}
}