/* typography */

/* responsive font size */

body {
  font-size: 16px;
}


/* heading */

.heading {
	line-height: 1em;
	font-size: 1.15rem;
	margin: .5em 0;


	&.peta {
		font-size: 2.25rem;
	}

	&.tera {
		font-size: 2.0rem;
	}

	&.giga {
		font-size: 1.75rem;
	}

	&.mega {
		font-size: 1.5rem;
	}

	&.kilo {
		font-size: 1.25rem;
	}

	&.micro {
		font-size: 1rem;
	}

	&.nano {
		font-size: .75rem;
	}

	&.piko {
		font-size: .5rem;
	}
}

