/* typography */

body {
  font-size: 16px;
  line-height: 1.25em;
}

button,
input,
textarea,
select {
	font-family: inherit;
	font-size: inherit;
}

a {
	color: inherit;
}

/* heading */

.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
	margin: .5em 0;	
}

.h1 {
	font-size: 2.25rem;
}

.h2 {
	font-size: 2.0rem;
}

.h3 {
	font-size: 1.75rem;
}

.h4 {
	font-size: 1.33rem;
}


.h5 {
	font-size: 1rem;
}

.h6 {
	font-size: .75rem;
}


.t-center {
	text-align: center;
}

.t-left {
	text-align: left;
}

.t-right {
	text-align: right
}
