// form	elements
// needs fragmentation

.nice {

	&-input,
	&-button, 
	&-checkbox,
	&-radio,
	&-textarea {
		margin: 2px 0;
		border:none;
	}

	&-input,
	&-checkbox,
	&-radio,
	&-textarea {
		border: 1px solid rgba(0,0,0,.5);
	}



	//universal input style

	&-input,
	&-textarea {
		color: #888;
		width: 100%;
		background: #fff;
		padding: 5px;
	}

	&-input:focus,
	&-textarea:focus {
		color: #555;
	}

	//universal textarea

	&-textarea {
		min-height: 100px;
	}

	//universal button style

	&-button {
		display: inline-block;
		border: 1px solid #aaa;
		text-decoration: none;
		min-width: 50px;
		text-align: center;
		color: #222;
		padding: 5px;
		cursor: pointer;


		@include td-gradient(#eee,#ddd);

		&:hover {
			@include td-gradient(#fff,#eee);
			text-decoration: none;
		}

		&.disabled, &[disabled] {
			cursor: default;
			color: #888;
			text-shadow: 1px 1px 0px #fff;

			&:hover {
				@include td-gradient(#eee,#ddd);
			}
		} 
	}



	//common label for checkboxes and radiobuttons

	&-label {
		margin: 2px;
		display: inline-block;
	}

	//radio button style

	&-radio {
		width: 24px;
		height: 24px;
		float:left;
		margin: 2px;
		padding: 2px;
		position: relative;
		@include bradius-s(24px);

		input[type=radio] {
			visibility: hidden;

			&:checked + label:after {
				background: #000;
			}
		}

		label {
			cursor: pointer;
			position: absolute;
			width: 20px;
			height: 20px;
			left: 2px;
			top: 2px;
			@include text-access;
			text-indent: 125%;

			&:after {
				content: '';
				position: absolute;
				width: 16px;
				height: 16px;
				@include bradius-s(16px);
				background: transparent;
				top: 1px;
				left: 1px;
			}

			// &:hover::after {
			// 	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
			// 	filter: alpha(opacity=30);
			// 	opacity: 0.3;
			// }
		}

	}

	//checkbox style
	&-checkbox  {
		width: 25px;
		height: 25px;
		float:left;
		margin: 2px;
		padding: 2px;
		position: relative;


		input[type=checkbox] {
			visibility: hidden;

			&:checked + label:after {
				-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
				filter: alpha(opacity=100);
				opacity: 1;
			}
		}

		
		label {
			cursor: pointer;
			position: absolute;
			width: 20px;
			height: 20px;
			left: 2px;
			top: 2px;
			@include text-access;

			&:after {
				-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
				filter: alpha(opacity=0);
				opacity: 0;
				content: '';
				position: absolute;
				width: 13px;
				height: 5px;
				background: transparent;
				top: 4px;
				left: 2px;
				border: 3px solid #000;
				border-top: none;
				border-right: none;

				@include transform(rotate(-45deg));

			}

			// &:hover::after {
			// 	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
			// 	filter: alpha(opacity=30);
			// 	opacity: 0.3;
			// }
		}
	}

}




