.c-1 {
    width: 8.33333%;
}

.c-2 {
    width: 16.66667%;
}

.c-3 {
    width: 25%;
}

.c-4 {
    width: 33.33333%;
}

.c-5 {
    width: 41.66667%;
}

.c-6 {
    width: 50%;
}

.c-7 {
    width: 58.33333%;
}

.c-8 {
    width: 66.66667%;
}

.c-9 {
    width: 75%;
}

.c-10 {
    width: 83.33333%;
}

.c-11 {
    width: 91.66667%;
}

.c-12 {
    width: 100%;
}


/* cell definition */
[class*="c-"] {
    float: left;
    min-height: 1px;
    padding: 0 10px;
    word-wrap: break-word;
}

  @media only screen and (max-width: 360px) {
      [class*="c-"] {
          /* all columns go 100% on small screen */
          width: 100%;
      }
  }

  /* fixing pixel "rounding" */
  [class*="c-"]+[class*="c-"]:last-child {
      float: right;
  }