//block grid

//common block grid styles
[class*="bgrid-"] {
    display: block;
    list-style: none;
    padding: 0;
    margin: 0;
    @include clearfix;

     &>li {
        float: left;
        padding: 10px;
        width: 100%;
    }
}

// generating all breakpoint overrides
@each $breakpointName, $breakpointStartingPoint in $breakpoints {
    @media only screen and (min-width: ($breakpointStartingPoint)) {
        @for $i from 1 through $block-grid-columns{
            .bgrid-#{$breakpointName}-#{($i)} {
                &>li {
                    width: 100%/$i;
                }
            }
        }
    }
}
