//block grid for lemony

//blockgrid behaviour for large viewport

@for $i from 1 through $block-grid-cell{
  .bgrid-large-#{($i)} {
    &>li {
        width: 100%/$i;
    }
  }
}


//blockgrid behaviour for medium viewport

@media only screen and (max-width: $medium) {
    @for $i from 1 through $block-grid-cell{
      .bgrid-medium-#{($i)} {
        &>li {
            width: 100%/$i;
        }
      }
    }
}


//blockgrid behaviour for small viewport

@media only screen and (max-width: $small) {
    @for $i from 1 through $block-grid-cell{
      .bgrid-small-#{($i)} {
        &>li {
            width: 100%/$i;
        }
      }
    }
}

//common block grid styles

[class*="bgrid-large"] {
    display: block;
    list-style: none;
    padding: 0;
    margin: 0;
    @include clearfix;

     &>li {
        display: inline;
        float: left;
        padding: 10px;
    }
}
