/* flex box grid */

.flex {
    margin-bottom: 10px;
    display:flex;
    flex-direction: column;
	flex-wrap: wrap;

	@media (min-width: #{nth(map-values($breakpoints), 1)}) {
		flex-direction: row
	}

}

	.flex--reverse {
        flex-direction:  column-reverse;

		@media (min-width: #{nth(map-values($breakpoints), 1)}) {
			flex-direction: row-reverse
		}
    }

	.flex--nowrap {
		flex-wrap: nowrap;
	}

	.flex--column {
        flex-direction: column;
    }

    .flex--column-reverse {
        flex-direction: column-reverse;
    }

    .flex--center {
      align-items: center;
    }

	.flex--s-between {
		justify-content: space-between
	}

	.flex__cell {
		flex-grow: 1;
		flex-shrink: 1;
		flex-basis: auto;
	}



	// generating all breakpoint overrides
	@each $breakpointName, $breakpointStartingPoint in $breakpoints {
		@media (min-width: ($breakpointStartingPoint)) {
			@for $i from 1 through $grid-columns{
				.flex__cell--#{$breakpointName}-f#{($i)} {
					flex-basis: 100%/$i;
					max-width: 100%/$i;
				}
			}
		}
	}

	