/* flex box grid */

.flex {
    margin-bottom: 10px;
    display:flex;
    flex-direction: row;
}

	.flex--reverse {
        flex-direction:  row-reverse
    }

	.flex--columns {
        flex-direction: column;
    }

    .flex--column-reverse {
        flex-direction: column-reverse;
    }

	.flex-cell {
		background: #ccc;
		flex: 1; 
		padding: 2%;

		& + & {
			margin-left: 2%;
		}

		[class~=flex--columns] & {
			margin: 0 0 2% 0;
		}        
	}

	