/* flex box grid */

.flex {
    margin-bottom: 10px;
    display:flex;
    flex-direction: column;
	flex-wrap: wrap;

	@media only screen and (min-width: #{nth(map-values($breakpoints), 1)}) {
		flex-direction: row
	}

}

	.flex--reverse {
        flex-direction:  column-reverse;

		@media only screen and (min-width: #{nth(map-values($breakpoints), 1)}) {
			flex-direction: row-reverse
		}
    }

	.flex--nowrap {
		flex-wrap: nowrap;
	}

	.flex--column {
        flex-direction: column;
    }

    .flex--column-reverse {
        flex-direction: column-reverse;
    }

    .flex--center {
      align-items: center;
    }

	.flex--s-between {
		justify-content: space-between
	}

	.flex__cell {
		flex: 1; 
		padding-bottom: 10px;

		.flex--gutter & + & {
			padding-left: 10px;
		}
	}



	// generating all breakpoint overrides
	@each $breakpointName, $breakpointStartingPoint in $breakpoints {
		@media only screen and (min-width: ($breakpointStartingPoint)) {
			@for $i from 1 through $grid-columns{
				.flex__cell--#{$breakpointName}-f#{($i)} {
					flex-basis: 100%/$i;
					max-width: 100%/$i;
				}
			}
		}
	}

	