/* mixins */

// clearfix mixin
@mixin clearfix {
  &:after {
    content: " ";
    display:block;
    clear:both;
  }
}

// text access
@mixin text-access {
	text-indent: 200%;
	overflow: hidden;
	white-space: nowrap;
}
