/* roughtly estimating width on optimal number of characters per line */
/* mixins */
/* if this grows, it will need to be split */
.hidden {
  display: none !important; }

.clearfix:after {
  content: " ";
  display: block;
  clear: both; }

.text-access {
  text-indent: 200%;
  overflow: hidden;
  white-space: nowrap; }

.f-left {
  float: left !important; }

.f-right {
  float: right !important; }

.fw {
  width: 100% !important;
  max-width: 100% !important; }

.circle {
  border-radius: 50%; }

.p-top-0 {
  padding-top: 0px !important; }

.p-bottom-0 {
  padding-bottom: 0px !important; }

.m-top-0 {
  margin-top: 0px !important; }

.m-bottom-0 {
  margin-bottom: 0px !important; }

.p-top-1 {
  padding-top: 15px !important; }

.p-bottom-1 {
  padding-bottom: 15px !important; }

.m-top-1 {
  margin-top: 15px !important; }

.m-bottom-1 {
  margin-bottom: 15px !important; }

.p-top-e1 {
  padding-top: 1.5em !important; }

.p-bottom-e1 {
  padding-bottom: 1.5em !important; }

.m-top-e1 {
  margin-top: 1.5em !important; }

.m-bottom-e1 {
  margin-bottom: 1.5em !important; }

.p-top-r1 {
  padding-top: 1.25vw !important; }

.p-bottom-r1 {
  padding-bottom: 1.25vw !important; }

.m-top-r1 {
  margin-top: 1.25vw !important; }

.m-bottom-r1 {
  margin-bottom: 1.25vw !important; }

.p-top-2 {
  padding-top: 30px !important; }

.p-bottom-2 {
  padding-bottom: 30px !important; }

.m-top-2 {
  margin-top: 30px !important; }

.m-bottom-2 {
  margin-bottom: 30px !important; }

.p-top-e2 {
  padding-top: 2.5em !important; }

.p-bottom-e2 {
  padding-bottom: 2.5em !important; }

.m-top-e2 {
  margin-top: 2.5em !important; }

.m-bottom-e2 {
  margin-bottom: 2.5em !important; }

.p-top-r2 {
  padding-top: 5vw !important; }

.p-bottom-r2 {
  padding-bottom: 5vw !important; }

.m-top-r2 {
  margin-top: 5vw !important; }

.m-bottom-r2 {
  margin-bottom: 5vw !important; }

.m-1 {
  margin: 10px; }

.p-1 {
  padding: 10px; }

/* responsive stuff */
/* making d images adapt their size - treshold shoud be customized */
.r-img {
  max-width: 100%;
  height: auto; }

/* this will allow scoped overried of box-sizing */
* {
  box-sizing: inherit; }

/* default box-sizing for HTML tag scope */
html {
  font-family: sans-serif;
  box-sizing: border-box; }

html,
body {
  margin: 0;
  padding: 0; }

body {
  min-width: 320px; }

pre {
  overflow-x: auto; }

hr {
  border: 0;
  height: 1px;
  background-color: rgba(32, 32, 32, 0.5); }

/* general container */
.container {
  margin: 0 auto;
  clear: both;
  min-width: 320px; }
  .container:after {
    content: " ";
    display: block;
    clear: both; }

@media only screen and (min-width: 481px) {
  .container--fixed {
    max-width: 90%; } }

@media only screen and (min-width: 769px) {
  .container--fixed {
    max-width: 769px; } }

/* flex box grid */
.flex {
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap; }
  @media (min-width: 481px) {
    .flex {
      flex-direction: row; } }

.flex--reverse {
  flex-direction: column-reverse; }
  @media (min-width: 481px) {
    .flex--reverse {
      flex-direction: row-reverse; } }

.flex--nowrap {
  flex-wrap: nowrap; }

.flex--column {
  flex-direction: column; }

.flex--column-reverse {
  flex-direction: column-reverse; }

.flex--center {
  align-items: center; }

.flex--auto-margin {
  margin: auto; }

.flex--s-between {
  justify-content: space-between; }

.flex__cell {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto; }

@media (min-width: 481px) {
  .flex-self-vcenter {
    align-self: center; } }

@media (min-width: 481px) {
  .flex__cell--m-f1 {
    flex-basis: 100%;
    max-width: 100%; }
  .flex__cell--m-f2 {
    flex-basis: 50%;
    max-width: 50%; }
  .flex__cell--m-f3 {
    flex-basis: 33.33333%;
    max-width: 33.33333%; }
  .flex__cell--m-f4 {
    flex-basis: 25%;
    max-width: 25%; }
  .flex__cell--m-f5 {
    flex-basis: 20%;
    max-width: 20%; }
  .flex__cell--m-f6 {
    flex-basis: 16.66667%;
    max-width: 16.66667%; }
  .flex__cell--m-f7 {
    flex-basis: 14.28571%;
    max-width: 14.28571%; }
  .flex__cell--m-f8 {
    flex-basis: 12.5%;
    max-width: 12.5%; }
  .flex__cell--m-f9 {
    flex-basis: 11.11111%;
    max-width: 11.11111%; }
  .flex__cell--m-f10 {
    flex-basis: 10%;
    max-width: 10%; }
  .flex__cell--m-f11 {
    flex-basis: 9.09091%;
    max-width: 9.09091%; }
  .flex__cell--m-f12 {
    flex-basis: 8.33333%;
    max-width: 8.33333%; } }

@media (min-width: 769px) {
  .flex__cell--l-f1 {
    flex-basis: 100%;
    max-width: 100%; }
  .flex__cell--l-f2 {
    flex-basis: 50%;
    max-width: 50%; }
  .flex__cell--l-f3 {
    flex-basis: 33.33333%;
    max-width: 33.33333%; }
  .flex__cell--l-f4 {
    flex-basis: 25%;
    max-width: 25%; }
  .flex__cell--l-f5 {
    flex-basis: 20%;
    max-width: 20%; }
  .flex__cell--l-f6 {
    flex-basis: 16.66667%;
    max-width: 16.66667%; }
  .flex__cell--l-f7 {
    flex-basis: 14.28571%;
    max-width: 14.28571%; }
  .flex__cell--l-f8 {
    flex-basis: 12.5%;
    max-width: 12.5%; }
  .flex__cell--l-f9 {
    flex-basis: 11.11111%;
    max-width: 11.11111%; }
  .flex__cell--l-f10 {
    flex-basis: 10%;
    max-width: 10%; }
  .flex__cell--l-f11 {
    flex-basis: 9.09091%;
    max-width: 9.09091%; }
  .flex__cell--l-f12 {
    flex-basis: 8.33333%;
    max-width: 8.33333%; } }

/* 
   dependencies:
     $breakpoints
     $grid-columns
*/
.row {
  width: 100%;
  clear: both; }
  .row:after {
    content: " ";
    display: block;
    clear: both; }

/* structural grid (layout) */
[class*="c-"] {
  float: left;
  min-height: 1px;
  padding: 0 10px;
  word-wrap: break-word;
  width: 100%; }

[class*="c-"] [class*="c-"] {
  padding: 0; }

/* fixing pixel "rounding" */
[class*="c-"] + [class*="c-"]:last-child {
  float: right; }

@media (min-width: 481px) {
  .c-m-1 {
    width: 8.33333%; }
  .c-m-f1 {
    width: 100%; }
  .c-m-2 {
    width: 16.66667%; }
  .c-m-f2 {
    width: 50%; }
  .c-m-3 {
    width: 25%; }
  .c-m-f3 {
    width: 33.33333%; }
  .c-m-4 {
    width: 33.33333%; }
  .c-m-f4 {
    width: 25%; }
  .c-m-5 {
    width: 41.66667%; }
  .c-m-f5 {
    width: 20%; }
  .c-m-6 {
    width: 50%; }
  .c-m-f6 {
    width: 16.66667%; }
  .c-m-7 {
    width: 58.33333%; }
  .c-m-f7 {
    width: 14.28571%; }
  .c-m-8 {
    width: 66.66667%; }
  .c-m-f8 {
    width: 12.5%; }
  .c-m-9 {
    width: 75%; }
  .c-m-f9 {
    width: 11.11111%; }
  .c-m-10 {
    width: 83.33333%; }
  .c-m-f10 {
    width: 10%; }
  .c-m-11 {
    width: 91.66667%; }
  .c-m-f11 {
    width: 9.09091%; }
  .c-m-12 {
    width: 100%; }
  .c-m-f12 {
    width: 8.33333%; } }

@media (min-width: 769px) {
  .c-l-1 {
    width: 8.33333%; }
  .c-l-f1 {
    width: 100%; }
  .c-l-2 {
    width: 16.66667%; }
  .c-l-f2 {
    width: 50%; }
  .c-l-3 {
    width: 25%; }
  .c-l-f3 {
    width: 33.33333%; }
  .c-l-4 {
    width: 33.33333%; }
  .c-l-f4 {
    width: 25%; }
  .c-l-5 {
    width: 41.66667%; }
  .c-l-f5 {
    width: 20%; }
  .c-l-6 {
    width: 50%; }
  .c-l-f6 {
    width: 16.66667%; }
  .c-l-7 {
    width: 58.33333%; }
  .c-l-f7 {
    width: 14.28571%; }
  .c-l-8 {
    width: 66.66667%; }
  .c-l-f8 {
    width: 12.5%; }
  .c-l-9 {
    width: 75%; }
  .c-l-f9 {
    width: 11.11111%; }
  .c-l-10 {
    width: 83.33333%; }
  .c-l-f10 {
    width: 10%; }
  .c-l-11 {
    width: 91.66667%; }
  .c-l-f11 {
    width: 9.09091%; }
  .c-l-12 {
    width: 100%; }
  .c-l-f12 {
    width: 8.33333%; } }

/* column nesting limit -> 4 levels allowed - may be removed or tweaked if needed */
[class*="c-"] > [class*="c-"] > [class*="c-"] > [class*="c-"] > [class*="c-"] {
  width: 100%; }

.text-gutter > [class*="c-"] {
  padding: 0 10px 10px 0; }

/* typography */
body {
  font-size: 16px;
  line-height: 1.25em; }

button,
input,
textarea,
select {
  font-family: inherit;
  font-size: inherit; }

a {
  color: inherit; }

/* heading */
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  margin: .5em 0; }

.h1 {
  font-size: 2.25rem; }

.h2 {
  font-size: 2.0rem; }

.h3 {
  font-size: 1.75rem; }

.h4 {
  font-size: 1.33rem; }

.h5 {
  font-size: 1rem; }

.h6 {
  font-size: .75rem; }

.t-center {
  text-align: center; }

.t-left {
  text-align: left; }

.t-right {
  text-align: right; }

.list {
  /*root block*/ }

.list--horizontal {
  margin: 0;
  padding: 0;
  list-style: none; }

.list--horizontal > li {
  display: inline-block;
  padding-right: 10px; }

.list--right-aligned > li {
  padding-right: 0;
  padding-left: 10px; }

.pager {
  text-align: center;
  padding: 0; }
  .pager > li {
    display: inline-block; }
    .pager > li > a {
      display: inline-block;
      padding: 8px 12px;
      text-decoration: none;
      color: #fff;
      background-color: #202020;
      transition: background-color 0.2s; }
      .pager > li > a:hover {
        background-color: rgba(32, 32, 32, 0.8); }

.mo {
  display: flex;
  align-items: flex-start; }

.mo__figure {
  margin: 1em 1em 0 0; }

.mo__body {
  flex: 1; }

.fe {
  padding: 8px 7px;
  font-size: 1rem;
  border: 0;
  color: #333;
  background-color: #e8e8e8;
  transition: all 0.2s; }
  .fe:hover {
    border-color: rgba(32, 32, 32, 0.8); }
  .fe:focus {
    color: #555; }
  .fe.fe--err {
    color: #af1b00;
    border-color: currentColor;
    background-color: #ffe8e8; }
  .fe.disabled, .fe[disabled] {
    color: #c1c1c1;
    background-color: #f3f3f3; }

.fe-select {
  position: relative;
  display: inline-block;
  background-color: #fff; }
  .fe-select:after {
    content: "\25bc";
    height: 10px;
    width: 10px;
    right: 9px;
    top: 8px;
    font-size: .75rem;
    position: absolute;
    pointer-events: none;
    color: #999;
    transition: all 0.2s; }
  .fe-select:hover::after {
    color: #333; }
  .fe-select select.fe {
    -webkit-appearance: none;
    border-radius: 0;
    padding-right: 25px; }

.fe-btn {
  padding: 8px 12px;
  font-size: 1rem;
  border: 0px;
  min-width: 50px;
  text-align: center;
  color: #fff;
  background-color: #202020;
  transition: background-color 0.2s; }
  .fe-btn.fe--anch {
    display: inline-block;
    text-decoration: none; }
  .fe-btn:hover {
    background-color: rgba(32, 32, 32, 0.8);
    text-decoration: none; }
  .fe-btn.disabled, .fe-btn[disabled] {
    cursor: default;
    color: #a7a7a7; }
    .fe-btn.disabled:hover, .fe-btn[disabled]:hover {
      background-color: #202020; }

.fe-chrd input[type="checkbox"],
.fe-chrd input[type="radio"] {
  opacity: 0;
  height: 0;
  width: 0;
  margin: 0; }

.fe-chrd label {
  position: relative;
  padding-left: 30px;
  display: inline-block;
  line-height: 1.6em; }

.fe-chrd label:after,
.fe-chrd label:before {
  content: "";
  position: absolute;
  transition: all 0.2s; }

.fe-chrd label:before {
  top: 4px;
  left: 6px;
  height: 16px;
  width: 16px;
  background-color: #e8e8e8; }

.fe-chrd label:after {
  top: 8px;
  left: 10px;
  height: 8px;
  width: 8px; }

.fe-chrd label:hover::after {
  background-color: #999; }

.fe-chrd input[type="radio"] + label:after, .fe-chrd input[type="radio"] + label:before {
  border-radius: 50%; }

.fe-chrd input[type="checkbox"]:checked + label:after,
.fe-chrd input[type="radio"]:checked + label:after {
  background-color: #333; }

table {
  width: 100%;
  text-align: left;
  border-collapse: collapse; }
  table th,
  table td {
    padding: 4px;
    border-bottom: 1px solid rgba(198, 198, 198, 0.5); }
  table tbody tr:nth-child(even) td {
    background-color: #fafafa; }

.captioned {
  float: left;
  margin: 0 10px 10px 0; }
  .captioned:after {
    content: " ";
    display: block;
    clear: both; }
  .captioned .captioned__text {
    text-align: center; }

/* overlay background dim mixin */
.overlay-dim {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #000000;
  filter: alpha(opacity=50);
  opacity: 0.5; }

.overlay-content {
  height: auto;
  left: 0px;
  position: fixed;
  top: 10%;
  width: 100%;
  text-align: center;
  z-index: 9999; }

.overlay-content-w {
  position: relative;
  width: 90%;
  background-color: white;
  margin: 0 auto; }
  .overlay-content-w.overlay-content-w--half {
    width: 50%; }
  .overlay-content-w.overlay-content-w--quarter {
    width: 25%; }
  .overlay-content-w .close {
    position: absolute;
    width: 20px;
    height: 20px;
    right: -10px;
    top: -10px;
    text-decoration: none;
    text-align: center;
    line-height: 20px;
    font-size: 14px;
    font-weight: bold;
    color: white;
    background-color: #000;
    border: 2px solid #fff;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    font-weight: bold; }
  .overlay-content-w:after {
    content: " ";
    display: block;
    clear: both; }

pre {
  max-height: 300px;
  background: #eee;
  padding: 6px 10px;
  color: #555; }

/*# sourceMappingURL=le-co.css.map */