/* this will allow scoped overried of box-sizing */
* {
    box-sizing: inherit;
}

/* default box-sizing for HTML tag scope */
html {
    font-family: sans-serif;
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
}

body {
    min-width: $min-width;

    @if $responsive == false {
        width: $fixed-width;
    }
}

pre {
	overflow-x: auto;
}

hr {
    border: 0;
    height: 1px;
    background-color: rgba(32,32,32,.5);
}
	
