/* this will allow scoped overried of box-sizing */
* {
    box-sizing: inherit;
}

/* default box-sizing for HTML tag scope */
html {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
}

body {
    min-width: $min-width;

    @if $responsive != true {
        width: $fixed-width;
    }
}

/* general container */

.container {
	margin: 0 auto;
	clear:both;
	@include clearfix;
}

	@if variable-exists(max-width) {
		.container--fixed {
			max-width: $max-width;
		}
	}

	@else {
		// generating all breakpoint overrides
		@each $breakpointName, $breakpointStartingPoint in $breakpoints {
			@media only screen and (min-width: ($breakpointStartingPoint)) {
				.container--fixed {
					max-width: #{$breakpointStartingPoint};
				}
			}
		}
	}
	
