/* this will allow scoped overried of box-sizing */
* {
    box-sizing: inherit;
}

/* default box-sizing for HTML tag scope */
html {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;

	@media only screen and (max-width: $large) {
		min-width: 320px;
		width: auto;
	}

	@media only screen and (max-width: $small) {
		min-width: 240px;
		width: auto;
	}
}
