
/* general container */

.container {
	margin: 0 auto;
	clear:both;
	@include clearfix;
}
    @if $responsive == true {

		@if variable-exists(max-width) {
			.container--fixed {
				max-width: $max-width;
			}
		}

		@else {
			// generating all breakpoint overrides
			@each $breakpointName, $breakpointStartingPoint in $breakpoints {
				@media only screen and (min-width: ($breakpointStartingPoint)) {
					.container--fixed {
						max-width: #{$breakpointStartingPoint};
					}
				}
			}
		}

	}