/* general container */

.container {
  margin: 0 auto;
  /*padding: 0 1%;*/
  clear:both;
  
  @include clearfix;

  
  &.full { 
    width: 100%;
  }



  @if $responsive {

     &.fixed { 
      max-width: $large;
    }

    @media only screen and (max-width: $large) {
      min-width: 320px;
      width: auto;
    }

    @media only screen and (max-width: $small) {
      min-width: 240px;
      width: auto;
    }

    .container {
      @media only screen and (max-width: $large) {
        min-width: 0px;
      }

      @media only screen and (max-width: $small) {
        min-width: 0px;
      }
    }

    /* grid container defining mobile wrappers, that should have a gap and not cover whole screen - usually one parent wrapper */
    &.mprime {
      @media only screen and (max-width: $large) {
        padding-left: 5%;
        padding-right: 5%;
      }
    }

  }

  //if container is set ot fixed with, whole responsivity goes off
  @else {
      &.fixed { 
        width: $large;
    }
  }

}