.bgrid-1 > li {
  width: 100%; }

.bgrid-2 > li {
  width: 50%; }

.bgrid-3 > li {
  width: 33.33333%; }

.bgrid-4 > li {
  width: 25%; }

.bgrid-5 > li {
  width: 20%; }

.bgrid-6 > li {
  width: 16.66667%; }

.bgrid-7 > li {
  width: 14.28571%; }

.bgrid-8 > li {
  width: 12.5%; }

.bgrid-9 > li {
  width: 11.11111%; }

.bgrid-10 > li {
  width: 10%; }

.bgrid-11 > li {
  width: 9.09091%; }

.bgrid-12 > li {
  width: 8.33333%; }