// This is config file

$optimal-line-width: calc((1em/2.2) * 85); /* roughtly estimating width on optimal number of characters per line */
// $max-width: 1200px;
$min-width: 320px;


//kill switch for responsivity - set to FALSE to switch off any built in responsive behaviour
$responsive: true !default;
// if resposivity is OFF we fixed width should be set here
$fixed-width: $optimal-line-width;


// global animation timer
$transition-duration: 0.2s;


// define breakpoint(s)
// same values are also used as max-width if explicit max-width is not defined
$breakpoints: (
//  breakpointAlias: startingPointInSomeUnit
	"m": "481px", 
	"l": "769px"
);


// reference loop for implmentation at any point of the code base
// @each $breakpointName, $breakpointStartingPoint in $breakpoints {
//     @debug $breakpointName + " would start at " + $breakpointStartingPoint;
// }


//number of grid cells
$grid-columns: 12;

//number of block grid columns - by default same as regular grid
$block-grid-columns: $grid-columns;