// This is master file. It serves a wrapper for all your imports
// In other words, this file defines css build

// config example
// $large: 960px;
// $medium: 768px;
// $small: 450px;

$optimal-line-width: calc((1em/2.2) * 85); /* roughtly estimating width on optimal number of characters per line */
$min-width: 320px;

// animation
$transition-duration: 0.2s;

// design
$border-radius: 2px;

/* native css variables for future use */
:root {
    --min-width: $min-width;
    --optimal-line-width: $optimal-line-width; 
}


$large: $optimal-line-width;


// define breakpoint(s)
$breakpoints: (
//  breakpointAlias: startingPointInSomeUnit
//  breakpointAlias can be empty. non *fixed class name will be offered
    "": "481px",
    "l": "767px"
);

// reference loop for implmentation at any point of the code base
@each $breakpointName, $breakpointStartingPoint in $breakpoints {
    @debug $breakpointName + " would start at " + $breakpointStartingPoint;
}



/* adding default widths value in case it wasn't set in main css */
$large: null !default;
@if $large {}
@else  {$large: 960px !global;}

$medium: null !default;
@if $medium {}
@else  {$medium: 768px !global;}

$small: null !default;
@if $small {}
@else  {$small: 480px !global;}

//kill switch for responsivity - set to FALSE to remove any build in responsive behaviour
$responsive: true !default;

//number of grid cells
$grid-columns: 12 !default;

//number of block grid columns
$block-grid-columns: 12 !default;


// helpers (recommended)
@import "helpers/mixins.scss",
        "helpers/general.scss",
        "helpers/spacing.scss",
        "helpers/rwd.scss";

// layout (recommended)
@import "layout/base.scss",
        "layout/container.scss";

// grids  (optional)
@import "layout/grids/block.scss",
        "layout/grids/flex.scss",
        "layout/grids/float.scss";

// modules (optional)
@import "modules/typography.scss",
        "modules/navigation.scss",
        "modules/paging.scss",
        "modules/content-toggle.scss",
        "modules/media-object.scss",
        "modules/forms.scss",
        "modules/tables.scss",
        "modules/captioned-imagery.scss",
        "modules/overlay.scss";