/* flex box grid */

.flex-row {
    margin-bottom: 10px;
    display:flex;
    flex-direction: row;
}

    .flex-row.reverse {
        flex-direction:  row-reverse
    }

    .flex-row.column {
        flex-direction: column;
    }

    .flex-row.column-reverse {
        flex-direction: column-reverse;
    }

    @media only screen and (max-width: 360px) {
        .flex-row {
            flex-direction: column;
        }
    }


/* regular cells */

[class*="flex-cell-"] {
    background: #ccc;
    flex: 1;
    margin: 2%;
}


    .column [class*="flex-cell-"] {
        margin: 0 0 2% 0;
    }

    [class*="flex-cell-"] + [class*="flex-cell-"] {
        margin-left: 2%;
    }

    .column [class*="flex-cell-"] + [class*="flex-cell-"] {
        margin: 0 0 2% 0;
    }

     @media only screen and (max-width: 360px) {
         .column [class*="flex-cell-"] + [class*="flex-cell-"] {
            margin: 2% 0 0 0;
        }
     }


/* seamless version of cell layout */

.seamless [class*="flex-cell-"] {
    padding: 2%;
}

    .seamless.column [class*="flex-cell-"] {
        padding: 0 0 2% 0;
    }

    .seamless [class*="flex-cell-"] + [class*="flex-cell-"] {
        padding-left: 2%;
    }

    .seamless.column [class*="flex-cell-"] + [class*="flex-cell-"] {
        padding: 0 0 2% 0;
    }

     @media only screen and (max-width: 360px) {
         .seamless.column [class*="flex-cell-"] + [class*="flex-cell-"] {
            padding: 2% 0 0 0;
        }
     }



.flex-cell-1 {
    flex-basis: 100%;
}

.flex-cell-2 {
    flex-basis: 50%;
}

.flex-cell-3 {
    flex-basis: 33.333%;
}

.flex-cell-4 {
    flex-basis: 25%;
}

.flex-cell-5 {
    flex-basis: 20%;
}