/* this will allow scoped overried of box-sizing */
* {
    box-sizing: inherit;
}

/* default box-sizing for HTML tag scope */
html {
    box-sizing: border-box;
}

body {
    margin: 0;
}



// REVIEW

/* normalization and reset rules - partially based on normalize.css */


/* layout */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
strike, strong, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  font-size: 100%;
}


article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
    display: block;
}

audio,
canvas,
video {
    display: inline-block;
    *display: inline;
    *zoom: 1;
}


body {
    *margin: 0;
    
}

/* lists */

dl,
menu,
ol,
ul {
    margin: .5em 0;
}

dd {
    margin: 0 0 0 20px;
}

menu,
ol,
ul {
    padding: 0 0 0 20px;
}


nav ul,
nav ol {
    list-style: none;
    list-style-image: none;
    margin: 0;
    padding: 0;
}

/* blockquote */

blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* form */

form {
    margin: 0;
}


button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
    *overflow: visible;  
}

/* table */

table {
    border-collapse: collapse;
    border-spacing: 0;
}